<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2><a style="color: rgb(94, 92, 92);" href="/auth/profile">Profile</a></h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/auth/profile">Profile</a></li>
            <li class="breadcrumb-item active"><a href="/auth/edit-profile"> details</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->

    <div style="margin-top: 4rem; margin-bottom: 4rem;" class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{{profilebyId.imageURL}}" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    {{!-- <button class="btn btn-primary" type="button">Upload new image</button> --}}
                    <a class="btn btn-primary" style="background-color: #d4b196; border-color:#d4b196; border: transparent;" href="/auth/{{profilebyId._id}}/imag">Upload new image</a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form action="/auth/{{profilebyId.id}}/edit" method="post"  enctype="multipart/form-data">
                        <!-- Form Group (username)-->
                        {{!-- <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
                        </div> --}}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" value="{{profilebyId.firstName}}" name="firstName">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text"  value="{{profilebyId.lastName}}" name="lastName">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Email</label>
                                <input class="form-control" id="inputOrgName" type="text" value="{{profilebyId.email}}" name="email">
                            </div>

                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">street address</label>
                                <input class="form-control" id="inputLocation" type="text" name="address" value="{{profilebyId.address}}">
                            </div>
                        </div>
                        <!-- Form Group ()-->
                   

                          <div class="col-md-6">
                            <label class="small mb-1" for="inputEmailAddress">city/state</label>
                            <input class="form-control"  id="inputOrgName" name="city_state" type="text" value="{{profilebyId.city_state}}">
                        </div>
                        

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                         
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"  value="{{profilebyId.phoneNumber}}">
                            </div>
                            <!-- Form Group (birthday)-->
                       
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary"  style="background-color: #d4b196; border-color:#d4b196; border: transparent;" type="submit" >Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>