<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Check-out</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            <div class="checkout-form">
                <form action="/order/checkout" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Delivery address</div>
                                    </div>
                                    <ul class="qty">
                                        <li>{{currentUser.address}}</li>
                                    </ul>
                                </div>
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                    {{#each cartItems}}
                                    <ul class="qty">
                                        <li>{{name}} <span>{{price}} €</span></li>
                                    </ul>
                                    {{/each }}
                                    <ul class="sub-total">
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">{{subTotal}} €</span></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">

                                    <div class="title-box">
                                        <div>Order Summary</div>
                                    </div>

                                    <ul class="total">
                                        <li>Total <span class="count">{{subTotal}} €</span></li>
                                    </ul>

                                </div>
                                <div class="payment-box">
                                    <form id="payment-form">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <div id="payment-element">
                                                    <!--Stripe.js injects the Payment Element-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <button id="submit" onclick="handleSubmit('test@gmail.com')"
                                                class="btn-solid btn">
                                                <div class="spinner hidden" id="spinner"></div>
                                                Place Order
                                            </button>
                                        </div>
                                        <div id="payment-message" class="hidden"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/assets/js/payment.js"></script>