<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Check-out</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            <div class="checkout-form">
                <form action="/order/checkout" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                {{!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text" name="field-name" value="" placeholder="">
                                </div> --}}
                                {{!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name</div>
                                    <input type="text" name="field-name" value="" placeholder="">
                                </div> --}}
                                {{!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Total Amount</div>
                                    <input type="text" name="{{subTota}}" value="" placeholder="">
                                </div> --}}
                                {{!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Payment Method</div>
                                    <input type="Number" name="payment_method" value="" placeholder="">
                                </div> --}}
                                {{!-- <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select>
                                        <option>India</option>
                                        <option>South Africa</option>
                                        <option>United State</option>
                                        <option>Australia</option>
                                    </select>
                                </div> --}}
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                   {{currentUser.address}}
                                   
                                </div>
{{!--                                 
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="checkbox" name="shipping-option" id="account-option">  
                                    <label for="account-option">Create An Account?</label>
                                </div> --}}
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                   
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                      {{#each cartItems}}
                                    <ul class="qty">
                                       
                                        <li>{{name}} <span>{{price}}€</span></li>
                                       
                                    </ul>
                                    {{/each }}
                                    <ul class="sub-total">
                                        {{!-- <li>Subtotal <span class="count"></span></li> --}}
                                        <li>Shipping
                                            <div class="shipping">
                                                <div class="shopping-option">
                                                    <input type="checkbox" name="free-shipping" id="free-shipping">
                                                    <label for="free-shipping">Free Shipping</label>
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="checkbox" name="local-pickup" id="local-pickup">
                                                    <label for="local-pickup">Local Pickup</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">{{subTotal}}€</span></li>
                                    </ul>
                                     
                                </div>
                                <div class="payment-box">
                                    <form id="payment-form">
                                        <div class="upper-box">
                                            <div class="payment-options">

                                                {{!-- <div id="link-authentication-element">
                                                    <!--Stripe.js injects the Link Authentication Element-->
                                                </div> --}}
                                                <div id="payment-element">
                                                    <!--Stripe.js injects the Payment Element-->
                                                </div>
                                                {{!-- <button id="submit">
                                                    <div class="spinner hidden" id="spinner"></div>
                                                    <span id="button-text">Pay now</span>
                                                </button>
                                                <div id="payment-message" class="hidden"></div> --}}

                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <button id="submit" onclick="handleSubmit('test@gmail.com')" class="btn-solid btn">
                                                <div class="spinner hidden" id="spinner"></div>
                                                Place Order
                                            </button>
                                        </div>
                                        <div id="payment-message" class="hidden"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>