<h1>Product List</h1>

{{#each list}}
<img  src="{{imageURL}}" alt="{{name}}" >
     <h2>{{name}}</h2> 
     <p>{{description}}</p>
     <ul>
        <li>{{dimension}}</li>
        <li>{{brand_name}}</li>
        <li>{{price}}</li>
        <li>{{material}}</li>
        <li>{{quantity}}</li>
        <li>{{care_instructions}}</li>
        <li>{{discount}}</li>
      <li>{{product_category}}</li>
     </ul>
     {{/each}}

     